footer{
    background-color: #AA0601;
    padding: 60px 0 32px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}
.footer-nav-list{
    display: flex;
    a{
        font-size: 16px;
        line-height: 24px;
        color: white;
        padding: 0 48px 0 0;
        &:hover{
            font-size: 24px;
        }
    }
}
.footer-nav-icon{
    display: flex;
    img{
        width: 48px;
        margin-right: 16px;
        &:hover{
            opacity: 0.6;
        }
    }
}
.contact{
    margin-top: 35.98px;
    margin-bottom: 32px;
    li{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    img{
        width: 36px;
        margin-right: 22px;
    }
    a{
        font-size:36px;
        line-height: 54px;
        color: white;
    }
}
.footer-txt{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    a{
        color: white;
        font-size: 14px;
        line-height: 21px;
        margin-right: 24px;
        &:hover{
            opacity: 0.7;
        }
    }
}

// 平版寬度
@media (max-width:992px) {
    .footer-nav-list{
        a{
            padding: 0 40px 0 0;
            &:hover{
                font-size: 16px;
            }
        }
    }
    .footer-nav-icon{
        img{
            width: 48px;
        }
    }

}
@media (max-width:767px) {
    .footer-nav-list{
        a{
            padding: 0 20px 0 0;
            &:hover{
                font-size: 16px;
            }
        }
    }
    .footer-nav-icon{
        img{
            width: 24px;
        }
    }
}

// 手機寬度
@media (max-width:570px) {
    .container{
        padding:0 13px !important;
    }
    footer{
        background-color: #AA0601;
        padding: 24px 0 24px;
    }
    .footer-nav-list{
        display: none;
    }
    .footer-nav-icon{
        margin-left: auto;
    }
    .contact{
        margin-top: -24px;
        margin-bottom: 24px;
        li{
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }
        img{
            width: 24px;
            margin-right: 8px;
        }
        a{
            font-size:16px;
            line-height: 24px;
            color: white;
        }
    }
    .footer-txt{
        margin-top: 32px;
        display: block;
        justify-content: space-between;
        a{
            display: block;
            padding-bottom: 8px;
            &:hover{
                border-bottom: none;
                padding-bottom: 8px;
                opacity: 0.7;
            }
        }
    }
}

