header{
    background-color: #AA0601;
    img{
        width: 80px;
        padding:4px 0 ;
    }
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    li{
        width: auto;
    }
    a{
        font-size: 20px;
        line-height: 30px;
        color:white;
        padding:10px  32px;
        &:hover{
            border-bottom: 2px solid black;
            font-size: 25px;
        }
    }

}


