// 顏色
$primary:#AA0601;
$secondary: #650300;
$bg-pink:#FBF2F2;

//字型
$text-sm:14px;
$text-nl:16px;
$text-xl:20px;
$text-2xl:24px;
$text-3xl: 32px;
h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
}


// 容器
.container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 13px;
}

//小工具
.pr-0{
    padding-right: 0px !important;
}
.pl-0{
    padding-left: 0 !important;
}
.mr-0{
    margin-right: 0 !important;
}
.mr-24{
    margin-right: 24px !important;
}
.btn-buy-now{
    display: block;
    width: 104px;
    padding:6px 12px;
    background-color: $primary;
    font-size: $text-xl;
    line-height: 30px;
    color: white;
    &:hover{
        color: $primary;
        background-color: white;
    }
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
