@import url(https://fonts.google.com/specimen/Roboto?query=roboto);
@import url(https://fonts.google.com/noto/specimen/Noto+Sans+TC);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 13px;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.btn-buy-now {
  display: block;
  width: 104px;
  padding: 6px 12px;
  background-color: #AA0601;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.btn-buy-now:hover {
  color: #AA0601;
  background-color: white;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

header {
  background-color: #AA0601;
}
header img {
  width: 80px;
  padding: 16px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}
.nav-list li {
  width: auto;
}
.nav-list a {
  font-size: 20px;
  line-height: 30px;
  color: white;
  padding: 10px 32px;
}
.nav-list a:hover {
  border-bottom: 4px solid white;
  font-size: 25px;
  padding: 22px 32px 19px;
}

@media (max-width: 767px) {
  header a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    display: block;
  }
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 -36px;
  }
  .nav-list li {
    width: 50%;
    border: 1px solid white;
  }
  .nav-list a {
    display: block;
  }
  .nav-list a:hover {
    border-bottom: none;
    font-size: 20px;
    background-color: white;
    color: #AA0601;
    padding: 10px 32px;
  }
}
@media (max-width: 570px) {
  .nav-list {
    margin: 0 -13px;
  }
}
footer {
  background-color: #AA0601;
  padding: 60px 0 32px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.footer-nav-list {
  display: flex;
}
.footer-nav-list a {
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 48px 0 0;
}
.footer-nav-list a:hover {
  font-size: 24px;
}

.footer-nav-icon {
  display: flex;
}
.footer-nav-icon img {
  width: 48px;
  margin-right: 16px;
}
.footer-nav-icon img:hover {
  opacity: 0.6;
}

.contact {
  margin-top: 35.98px;
  margin-bottom: 32px;
}
.contact li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.contact img {
  width: 36px;
  margin-right: 22px;
}
.contact a {
  font-size: 36px;
  line-height: 54px;
  color: white;
}

.footer-txt {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.footer-txt a {
  color: white;
  font-size: 14px;
  line-height: 21px;
  margin-right: 24px;
}
.footer-txt a:hover {
  opacity: 0.7;
}

@media (max-width: 992px) {
  .footer-nav-list a {
    padding: 0 40px 0 0;
  }
  .footer-nav-list a:hover {
    font-size: 16px;
  }
  .footer-nav-icon img {
    width: 48px;
  }
}
@media (max-width: 767px) {
  .footer-nav-list a {
    padding: 0 20px 0 0;
  }
  .footer-nav-list a:hover {
    font-size: 16px;
  }
  .footer-nav-icon img {
    width: 24px;
  }
}
@media (max-width: 570px) {
  .container {
    padding: 0 13px !important;
  }
  footer {
    background-color: #AA0601;
    padding: 24px 0 24px;
  }
  .footer-nav-list {
    display: none;
  }
  .footer-nav-icon {
    margin-left: auto;
  }
  .contact {
    margin-top: -24px;
    margin-bottom: 24px;
  }
  .contact li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .contact img {
    width: 24px;
    margin-right: 8px;
  }
  .contact a {
    font-size: 16px;
    line-height: 24px;
    color: white;
  }
  .footer-txt {
    margin-top: 32px;
    display: block;
    justify-content: space-between;
  }
  .footer-txt a {
    display: block;
    padding-bottom: 8px;
  }
  .footer-txt a:hover {
    border-bottom: none;
    padding-bottom: 8px;
    opacity: 0.7;
  }
}
.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);
  background-position: top center;
  background-size: cover;
  height: 60.5vh;
}
.banner .banner-txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.banner p {
  color: #650300;
  font-size: 36px;
  line-height: 54px;
}
.banner h1 {
  color: #650300;
  font-size: 64px;
  line-height: 96px;
  font-weight: bold;
  margin-bottom: 4px;
}

.specialized {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 104px;
  background-color: #FBF2F2;
}
.specialized h2 {
  color: #650300;
  margin-bottom: 24px;
}

.specialized-list {
  display: flex;
}
.specialized-list li {
  width: 25%;
}
.specialized-list img {
  width: 100px;
  margin-bottom: 16px;
}
.specialized-list h3 {
  color: #650300;
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.specialized-list p {
  text-align: left;
  line-height: 24px;
}

.classical {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.classical h2 {
  color: #650300;
  margin-bottom: 48px;
}

.classical-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.classical-list li {
  width: 33.3333%;
}
.classical-list img {
  margin-bottom: 8px;
}
.classical-list h3 {
  font-size: 48px;
  line-height: 72px;
  color: #AA0601;
  font-style: italic;
  font-weight: bold;
}

.co-design {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.co-design h2 {
  color: white;
  margin-bottom: 48px;
}

.co-design-list {
  display: flex;
}
.co-design-list li {
  max-width: 50%;
}
.co-design-list h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  font-style: italic;
  color: #AA0601;
  background-color: white;
  padding: 8px 0;
}

@media (max-width: 992px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
  .banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png);
  }
  .specialized-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .specialized-list li {
    width: 47%;
    margin-right: 0 !important;
  }
  .classical-list {
    flex-wrap: wrap;
  }
  .classical-list li {
    width: 100%;
  }
  .classical-list img {
    width: 336px;
    margin-bottom: 8px;
  }
  .classical-list h3 {
    font-size: 48px;
    line-height: 72px;
    color: #AA0601;
    font-style: italic;
    font-weight: bold;
  }
  .co-design-list {
    flex-wrap: wrap;
  }
  .co-design-list li {
    max-width: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 29.5vh;
  }
  .banner p {
    color: #650300;
    font-size: 16px;
    line-height: 24px;
  }
  .banner h1 {
    color: #650300;
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 570px) {
  .container {
    padding-left: 13px;
    padding-right: 13px;
  }
  .specialized {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .specialized h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .specialized-list {
    display: flex;
  }
  .specialized-list li {
    width: 100%;
  }
  .specialized-list img {
    width: 100px;
    margin-bottom: 16px;
  }
  .specialized-list h3 {
    color: #650300;
    line-height: 36px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .specialized-list p {
    text-align: left;
    line-height: 24px;
  }
  .classical {
    margin: 40px 0;
  }
  .classical h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .classical-list {
    padding: 0 13px;
  }
  .classical-list img {
    width: 100%;
  }
  .co-design {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .co-design h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .co-design-list .d-block {
    display: none;
  }
  .co-design-list .d-none {
    display: block;
  }
}/*# sourceMappingURL=all.css.map */